.Heading{
    display: flex;
justify-content: space-between;
}
.Heading h4{
    font-size: 20px;
}
.Heading p{
    border: 2px solid black;
    padding: 10px;
    background-color: red;
    color: white;
}
.Content{
    display: flex;
  
  justify-content: space-evenly;

}